@font-face {
  font-family: 'Roboto Black';
  src: url('/assets/fonts/RobotoBlack.ttf');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('/assets/fonts/RobotoLight.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.pointer-events-none {
  pointer-events: none;
  filter: opacity(.5);
}

.body {
  display: grid;
  grid-template-rows: 120px 64px 1fr 92px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url('/assets/img/3-fon-chars.jpg');
  text-align: center;
}

.header,
.nav,
.main,
.footer {
  align-self: center;
  justify-self: center;
}

.header {
  background: #FFC273;
  border-radius: 10px;
  border: 1px solid #F29721;
  box-shadow: 0 0 12px #785814;
  margin: 15px;
  padding: 14px;
  width: 600px;
}

.header h1 {
  font-family: 'Rockwell Extra Bold';
  color: #A65E00;
  padding: 5px;
  /* Поля вокруг текста */
}

.header em {
  font-weight: bold;
  color: #0D5004;
  font-family: 'Roboto Black';
}

.nav {
  width: 400px;
  margin: 10px 15px 10px 15px;
  padding: 5px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
}

.list-item {
  background: #FDEFDD;
  border-radius: 15px;
  box-shadow: 0 0 12px #785814;
  padding: 2px 3px;
  width: 45%;
}

.list-item:hover {
  box-shadow: 0 0 6px #785814, inset 0 0 5px #F4E5C6;
  text-decoration: underline;
}

.list-item a {
  margin: 0;
  font-size: 14pt;
  color: #E3C6A1;
  text-decoration: none;
}

.list-item a:hover {
  color: #BF8130;
}

.main {
  align-self: center;
  width: 600px;
  background-image: url('/assets/img/wood_3.jpg');
  box-shadow: 0 0 6px #785814, inset 0 0 5px #F4E5C6;
  border-radius: 14px;
  padding: 10px 17px;
}

.app-options {
  text-align: left;
}

.tips-all-words {
  font-size: 0.8rem;
  position: absolute;
  right: 7px;
  top: 10px;
}

.tips-all-words p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.user {
  display: inline;
  color: #000;
  padding: 6px;
  margin: 2px;
  font-family: 'Verdana';
  font-size: 2.6rem;
  text-align: center;
  background-color: #FFBA61;
  border: 1px solid #FBDC90;
  border-radius: 0;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.app-stats {
  border: 1px dotted #5E3956;
  border-radius: 5px;
  background-image: url('/assets/img/5-fon-svetlogo-melkogo-karbona.png');
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
}

.app-game-info {
  text-align: left;
}

.ms {
  color: #010100;
  font-size: 16pt;
  letter-spacing: 1px;
  font-family: 'Roboto Light';
}

.msg {
  color: #801E1E;
  font-weight: bolder;
  font-style: italic;
  font-size: 25px;
  border-radius: 4px;
  padding: 0 3px 0 3px;
  margin: 0 0 0 10px;
}

.status {
  border-radius: 7px;
  color: #B27E00;
  font-weight: bolder;
  font-size: 30px;
  background-color: #FFBA61;
  margin: 20px 10px 10px 10px;
  padding: 5px;
  min-height: 34px;
}

.status-matched-letter {
  margin-left: 1px;
  margin-right: 1px;
  width: .8em;
  height: inherit;
  display: inline-block;
}

.end {
  background-color: #FFF;
  border-radius: 7px;
  color: #8B6200;
  height: 20px;
  margin: 20px 10px 10px 10px;
  padding: 5px;
}

.btn {
  transition: .1s all;
}

.btn-new-game {
  color: #DDB27A;
  background-color: #A65E00;
  border: none;
  border-radius: 15px;
  letter-spacing: 1px;
  box-shadow: 0 2px 10px 1px #000;
  font-size: 13pt;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  padding: 6px;
  width: 150px;
}

.btn[disabled] {
  filter: contrast(.5);
}

.btn:not([disabled]):hover {
  color: #DDB27A;
  background-color: #703F00;
  box-shadow: inset 0 0 2px 1px #F4E5C6, 0 2px 7px 1px #412B00;
}

.clicked-letter {
  pointer-events: none;
}

.clicked-letter button {
  color: #a9a9a9;
}

.alphabet .letter {
  display: inline-block;
  margin: 3px 3px;
  box-sizing: content-box;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 24%);
}

.alphabet button {
  line-height: 1.4;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background: #ddd;
  border: none;
  width: 34px;
  height: 34px;
}

.alphabet-wrapper {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all .12s ease-in-out;
}

.alphabet-letter button:hover,
.alphabet-letter button:focus {
  background: #607d8b;
  color: #fff;
}

.alphabet-input-wrapper {
  display: grid;
  grid-template-columns: minmax(150px, 20%) 1fr;
}

.alphabet-col,
.alphabet-col label {
  text-align: left;
}

.alphabet-input-wrapper input {
  display: block;
  margin-left: 0;
}

.alphabet-input-wrapper ul {
  display: flex;
  flex-wrap: wrap;
}

.alphabet-input-wrapper .letter {
  box-shadow: none;
}

.alphabet-input-wrapper .btn {
  pointer-events: none;
  font-size: 18px;
  height: calc(34px - (18px / 2));
  width: calc(34px - (18px / 3));
}

.alphabet .alphabet-letter button {
  color: #333;
  transition: all 0.1s ease;
}

.footer {
  background-color: #FFC273;
  border-radius: 10px;
  border: 1px solid #F29721;
  margin: 20px;
  padding: 14px;
  width: 600px;
  position: relative;
}

.footer a {
  margin: 0;
  font-size: 14pt;
  color: #BF8130;
  text-decoration: none;
}

.footer a:hover,
.footer a:visited {
  color: #BF8130;
}
